   * {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }

    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #f5f5f5;
        color: #111;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        padding: 10px 20px;
        background: white;
        border-bottom: 1px solid #ddd;
    }

    .left-header {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .left-header img {
        height: 40px;
    }

    .title {
        display: flex;
        flex-direction: column;
    }

    .main-title {
        font-size: 18px;
        font-weight: 600;
    }

    .sub-title {
        font-size: 12px;
        color: #666;
    }

    .center-header {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }

    .user {
        text-align: right;
        font-size: 14px;
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 10px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }


    

   
    footer {
        position: relative;
        z-index: 10;
        padding: 15px;
        background: white;
        border-top: 1px solid #ddd;
    }

    .back-button {
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        background: #eee;
        color: #111;
        border: 1px solid #ccc;
    }

    .back-button:active {
        background: #ddd;
    }

.transaction {
    padding: 35px;
    border-bottom: 3px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction div:first-child {
    font-size: 26px;
}

.meta {
    font-size: 20px;
    color: #666;
    margin-top: 8px;
}

.amount {
    font-size: 30px;
    font-weight: 600;
}