{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CoinTerminal</title>
<link rel="stylesheet" href="{% static 'css/ausgeloggt.css' %}">
</head>

<body>

<header>
    <div class="left-header">
        <img src="{% static 'css/logo.png' %}" alt="Logo">
        <div class="title">
            <div class="main-title">CoinTerminal</div>
            <div class="sub-title">HVF Ludwigsburg</div>
        </div>
    </div>

    <div class="center-header">
        Startseite
    </div>

    <div class="user">
        Max Mustermann
    </div>
</header>
<div class="mainy"> <a> Bitte Karte Hinhalten</a> </div>
</body>
</html>