{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Transaktionen</title>
<link rel="stylesheet" href="{% static 'css/transaktionen.css' %}">
</head>

<body>

<header>
    <div class="left-header">
        <img src="{% static 'css/logo.png' %}" alt="Logo">
        <div class="title">
            <div class="main-title">CoinTerminal</div>
            <div class="sub-title">HVF Ludwigsburg</div>
        </div>
    </div>

    <div class="center-header">
        Transaktionen
    </div>

    <div class="user">
        Max Mustermann
    </div>
</header>

<div class="content">

    <div class="transactions">
    <div class="transaction">
        <div>
            <div>Geldautomat</div>
            <div class="meta">15.04.2026 • 14:32</div>
        </div>
        <span class="amount">-10,00 €</span>
    </div>

    <div class="transaction">
        <div>
            <div>Geldautomat</div>
            <div class="meta">14.04.2026 • 18:05</div>
        </div>
        <span class="amount">-5,00 €</span>
    </div>

    <div class="transaction">
        <div>
            <div>Geldautomat</div>
            <div class="meta">13.04.2026 • 09:47</div>
        </div>
        <span class="amount">-20,00 €</span>
    </div>

    <div class="transaction">
        <div>
            <div>Geldautomat</div>
            <div class="meta">12.04.2026 • 21:11</div>
        </div>
        <span class="amount">-10,00 €</span>
    </div>
</div>

</div>

<footer>
    <a class="back-button" href="{% url 'home' %}">
        Zurück zur Startseite
    </a>
</footer>

</body>
</html>